// | -------------------------------------------------------------
// | Color
// | -------------------------------------------------------------

$colors: (
  primary: (
    100: hsl(276, 100%, 79%),
    200: hsl(276, 79%, 69%),
    300: hsl(276, 53%, 49%),
    400: hsl(276, 64%, 48%),
    500: hsl(276, 96%, 20%),
  ),
  secondary: (
    100: hsla(46, 97%, 65%, 1),
    200: hsla(43, 96%, 56%, 1),
    300: hsla(38, 92%, 50%, 1),
    400: hsla(32, 95%, 44%, 1),
    500: hsla(26, 90%, 37%, 1),
  ),
  neutral: (
    100: hsl(0, 21%, 83%),
    200: hsl(200 23% 97%),
    300: hsl(200 12% 95%),
    400: hsl(205 12% 88%),
    500: hsl(209 13% 83%),
    600: hsl(208 6% 55%),
    700: hsl(210 8% 31%),
    800: hsl(212 9% 22%),
    900: hsl(210 10% 14%),
  ),
  dark: (
    100: hsl(240, 4%, 9%),
  ),
);
