---
const { title, url } = Astro.props
---

    <div class="break-inside-avoid p-8 my-6 bg-gradient-to-r from-zinc-800 to-zinc-900 rounded-lg
         border-slate-200 border-spacing-2 border w-[100%]">
         
        <a href={url} class="text-zinc-100">
        <p class="text-slate-200">{title}</p>
        </a>
    </div>

