---
import type { MarkdownHeading } from "astro";
import { Image } from "astro:assets";
import { IMG_ASSETS_BASE_PATH } from "../../config.ts";
import type { ImageMetadata } from 'astro'
import.meta.glob<{ default: ImageMetadata }>
const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/**/*.{jpeg,jpg,png,gif,svg}')
const toc = IMG_ASSETS_BASE_PATH + "toc.svg"

interface Props {
  headings: MarkdownHeading[];
}
const { headings } = Astro.props;

const filteredHeading = headings.filter((f) => f.depth < 5);
---

<a href="/" class="flex items-center gap-2 !no-underline">
  <Image src={images[toc]()} alt="TOC" width="35" height="35" />
  <span class="font-bold text-2xl text-zinc-400 mb-5">Table of Contents</span>
</a>

{
  filteredHeading.length > 0
    ? filteredHeading.map((heading) => (
        <a class={`toc-link depth-${heading.depth}`} href={`#${heading.slug}`}>
          {heading.text}
        </a>
      )) 
    : null
}

<style>
  .depth-3 {
    margin-left: 1.8rem;
  }

  a.toc-link.depth-2 {
    font-weight: 300;
    /* text-decoration: underline; */
  }
  a.toc-link {
    /* color: white;
    font: 0.5rem;
    text-decoration: none; */

    @apply dark:text-white text-black no-underline;
  }
</style>